.navigation {
	float: left;
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #369;
	padding: .25em;
}
.navigation li {
	white-space: nowrap;
	display:block;
	padding: .25em .75em;
	border: 1px solid #fff;
}
.navigation > li {
	float: left;
	background-color: #036;
	text-align: center;
	position:relative;
	cursor: pointer;
}
.navigation :hover,
.navigation :focus {
	background-color: #fff;
	color: #036;
	border: 1px solid #036;
	text-decoration: underline;
}

.navigation :hover li,
.navigation :focus li {
	color: #fff;
	background-color: #036;
}

.navigation > li > ul {
	display: none;
	position:absolute;
	left:0;
	right:0;
	top:100%;
	padding:0;
	margin:0;
	background-color: #036;
	width: 300%;
	text-align: left;
}

.navigation > li:hover > ul {
    display: block !important;
}

.navigation > li[aria-expanded="true"] > ul {
	display:block;
}