* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    max-width: 50%;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    color: #fff;
    list-style-type: none; 
}

.navigation li {
    font-size: 22px;
    padding: 5px;
    background: blue;
    flex-grow: 1;
}
.navigation > li {
	position: relative;
}

.navigation li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.navigation li:hover,
.navigation li:focus {
    outline: 1px solid orange;
    background-color: grey;
    color: #000;
}

.navigation > li > ul {
	display: none;
	list-style-type: none; 
    position: absolute;
	left:0;
	right:0;
	padding:0;
	margin:0;
}

.navigation > li:hover > ul {
    display: block !important;
}

.navigation > li[aria-expanded="true"] > ul {
	display:block;
}